<!DOCTYPE html>
<html lang="en">
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <main class="usersURLs__container">
      <ol class="usersURLs__urls">
      <% if (usersURLs.length > 0) { %>
        <% usersURLs.forEach((url) => { %>
          <form method="POST" action="/urls/<%= url.shortURL %>?_method=DELETE">
            <li>
              <p class="usersURLs__urls--shortURL">Short URL: <a href="/urls/<%= url.shortURL %>" class="usersURLs--shortURL">http://localhost:8080/<%= url.shortURL %></a></p>
              <p>Long URL: <a href="/<%= url %>" class="usersURLs--longURL"><%= url.longURL %></a></p>
              <button name="Delete" type="submit">Delete</button>
            </li>
          </form>
        <% }); %>
       <% } %>
      </ol>
    </main>
  </body>
</html>